<p>José Ventura Roda</p>
<p>
 <img src="/images/jventura.jpg" alt="José Ventura" height="120" width="120">
 </p>
 <p>
  <video id="tux" width="320" height="240" controls>
    <source src="/videos/Tux.ogv" type='video/ogg; codecs="theora, vorbis"' />
    <source src="/videos/Tux.webm" type='video/webm; codecs="vp8, vorbis"' />
    <source src="/videos/Tux.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
  </video>
 </p>
 <p> encontrado en la web
 </p>
